* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'AsapRegular',Arial, Helvetica, sans-serif;
}
html{
    scroll-behavior: smooth;
}


.container{
    display: grid;
    grid-template-areas: 
    "head"
    "main"
    "foot";
}
/*Section 1 starts here*/
header{
    grid-area: head;
    background-color: black;
    position: sticky;
    top:0;
    z-index: 2;
    padding: 20px;
}
.navbar>.logo-img{
    color:white;
    font-size: 2.5rem;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

}
.navbar-list{
    list-style-type: none;
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
    align-items: center;

}

.navbar-list li a{
    text-decoration: none;
}

.navbar-list li{
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
    padding: 10px;
    letter-spacing: 0.8px;
}
.navbar-list li a{
    color: white;
    text-decoration: none;
    font-size: 1.4rem;
    padding: 5px;
    letter-spacing: 0.8px;
    transition: color 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.navbar-list li a:hover{
    color:royalblue;
}
.navbar-list li button{
    font-size: 1.3rem;
    color:black;
    padding: 10px;
    border-radius: 4px;
    border:none;
    box-shadow: 2px 4px 10px black;
    transition: background-color, color 0.4s ease;
}
.navbar-list li button:hover{
    cursor: pointer;
    background-color:#333;
    color:white;
}

.main-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    position:relative;
}
.section-container{
    height:100vh;
}

.section-1,.section-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap:20px;  
}
.section-1{
    background: linear-gradient(45deg,
    hsl(239deg 92% 60%) 0%,
    hsl(241deg 66% 51%) 4%,
    hsl(242deg 66% 42%) 9%,
    hsl(243deg 70% 34%) 17%,
    hsl(244deg 77% 26%) 25%,
    hsl(244deg 87% 18%) 36%,
    hsl(230deg 100% 15%) 48%,
    hsl(227deg 100% 12%) 61%,
    hsl(226deg 100% 8%) 75%,
    hsl(225deg 100% 5%) 89%,
    hsl(220deg 100% 1%) 100%);
    color:white;
}

.content.header.para{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:40px;
    line-height: normal;
}

.section-container div>h1{
    font-size: 3rem;
    max-width: 30ch;
}
.section-container .para-1{
    font-size: 1.5rem;
    max-width: 50ch;
}
.btn-section-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
}

.btn-section-1 button{
    font-size: 1.5rem;
    padding: 12px 15px;
    border-radius: 10px;
    border:none;
    box-shadow: 0.5px 0.5px 5px #333;
}
.btn-section-1 button:hover{
    cursor: pointer;
}
.btn-section-1 .viewdemo{
    background-color: royalblue;
    color: #eee;
}
.btn-section-1 .viewdemo:hover{
    color: white;
}
.btn-section-1 .documentation{
    background-color: white;
    color: #333;
}
.btn-section-1 .documentation:hover{
    color: black;
}


/*section 2 starts here */
.section-container.section-2{
    position: relative;
    display:flex;
    flex-direction: column;
    margin-top: 400px;
    
}

.img-section-2-container{
    width:100%;
    position: absolute;
    top: -600px;
}
.img-section-2-container .img-replacer{
    min-width: 300px;
    width: 50%;
    height:400px;  
    background-color: #333;
    text-align: center;
    margin: 50px auto;
}

.section-2-tags-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width:100%;
    margin-top: auto;
      
}

.tag{
    padding: 5px;
    width: 170px;
    margin: 10px;
    background-color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 0.1px 0.2px 5px #333;
    text-align: center;
}
.tag svg{
    margin-top: 20px;
}
.tag .para-tag{
    font-size: medium;
    text-align: center;
    margin:0 auto;
    padding:12px 12px;
    line-height: 1.2rem;
    font-size: 1.5rem;

}

.section-2 h2{
    font-size: 2.5rem;
    color:black;
    margin-top:30px;
}

.section-2 .section-2-demo-grid{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 20px;
    margin: 10px 30px;
}

.section-2 .demo{
    display: flex;
    flex-direction: column;
    gap:20px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 30px;
    background-color: #ddd;
    border-radius: 10px;
    height: 100%;
}
.demo img{
    width: 88%;
    height: auto;
    border: 0.5px solid #ccc;
    border-radius: 10px;
}

.demo-heading2{
    color:rgb(101, 211, 119);
    margin-top:10px;
    font-size: 2rem;
}
.demo-heading1{
    color:#42cccc;
    margin-top: 10px;
    font-size:2rem;
}

/* .demo img{
    max-width: 100%;
} */


.demo .action-btn-section-2 button{
    padding: 7px 15px;
    font-size: 1.7rem;
    border-radius: 4px;
    border: none;
    background-color: #333;
    color: #eee;
    margin-bottom: 40px;
    transition: box-shadow 0.2s ease-in;
}
.demo .action-btn-section-2 button:hover{
    cursor: pointer;
    color: white;
    box-shadow: 0.1px 0.1px 3px #333;
}



/* Section 4 starts here*/

.section-container.section-4{
    margin-top: 100px;
    position: static;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 40px;
    margin-top: 50px;
    z-index: 1;
    margin-top: 200px;
}
.section-4-grp{
    display: flex;
    position: relative;
    margin-top: 400px;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
}
.section-4-grp>h3{
    font-size: 2.5rem;
}
.section-4-grp p{
    font-size: 1.5rem;
    color: #555;
    text-align: center;  
    max-width: 70%;
    line-height: 1.6rem; 
}
.section-4-grid-grp{
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(4,auto);
    row-gap: 30px;
    column-gap: 30px;
    margin: 10px;
    justify-items: start;
}
.section-4-grid-grp .grid-grp{
    column-gap: 10px;
    justify-content: start;
    align-items:start;
    padding: 30px 50px 50px 50px;
    display: grid;
    border-radius: 10px;
    border:none;
    box-shadow: 0.1px 0.1px 2.5px #333;
    grid-template-areas: 
    "img head"
    "img para";
    }
.img-grid-4{
    grid-area: img;
}
h4{
    font-size: 1.5rem;
    grid-area: head;
}
p{
    grid-area: para;
    font-size: 1.3rem;
    line-height: 1.8rem;
}

.grid-grp.one,.grid-grp.five,.grid-grp.nine{
    background-color: #ddd;
}
.grid-grp.two,.grid-grp.six,.grid-grp.eight{
    background-color: #333333e7;
    color: white;
}
.grid-grp.three,.grid-grp.seven,.grid-grp.eleven{
    background-color: rgb(191, 191, 252);
}

.img-grid-4 svg{
    font-size: 100%;
    color: black;
    background-color: white;
    border: none;
    border-radius: 5px;
    
    /* padding: 20px; */

}

.grid-grp:hover{
    box-shadow: 0.5px 0.5px 5px #333;
}

/*Section 5 starts here */
.section-container.section-5{
    position: static;
    margin-top: 270px;
}
.section-5-container{
    position: relative;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}
.section-5-grp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

h3{
    font-size: 2.5rem;
}
.section-5-para{
    font-size: 1.5rem;
    max-width: 70%;
    color: #555;
    text-align: center;
}

.section-5-img-container img{
    display: block;
    width: 100%;
    border-radius: 10px;
    border: none;
}

.section-5-img-container{
    position: relative;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    column-gap: 20px;
    row-gap: 20px;
    margin: 50px;
}
.container-5{
    position: relative;
    box-shadow: 0.2px 0.2px 3px #555;
    border-radius: 10px;
}
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #00000093;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
    opacity: 0.4;
    color: white;
    border-radius: 10px;
  }

.container-5:hover .overlay {
    width: 100%;
    cursor: pointer;
  }
  
.overlay .text {
    color: white;
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    white-space: nowrap;
  }

.section-6{
    position:static;
    margin-top:200px;
}
.container-section-6{
    position: relative;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.container-6-grp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.container-6-grp p{
    text-align: center;
    width: 80%;
    font-size: 1.5rem;
    color: #555;
} 
.container-section-6 img{
    width:100%;
    height: auto;
}
.container-6-img{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-6-img {
    position: relative;
    width:88%;
  }
  
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .container-6-img:hover .image {
    opacity: 0.3;
  }
  
  .container-6-img:hover .middle {
    opacity: 1;
  }
  
  .text {
    background-color:#333;
    color: white;
    font-size: 2rem;
    padding: 16px 32px;
  }

  /*Section 7 starts here*/
  .section-container.section-7{
    position: static;
    margin-top: 200px;
  }
  .section-7-container{
    position: relative;
    margin-top: 400px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;
  }
  .container-7-grp{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
 
  .container-7-grp p{
    max-width: 70%;
    color: #555;
    font-size: 1.5rem;
    text-align: center;
  }

  .container-7-comp{
    display: grid;
    grid-template-columns: repeat(6,auto);
    column-gap: 20px;
    row-gap: 20px;
  }

  .components{
    margin: 5px;
    padding: 25px 40px;
    border: 0.7px solid #ddd;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .components p{
    font-size: 1.4rem;
    color: #333;
  }
  .components:hover{
    cursor:default;
    box-shadow: 0.1px 0.1px 1px #555;
  }