
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'AsapRegular',Arial, Helvetica, sans-serif;
}

/* hr{
    margin: auto;
    margin-top:10px;
    border: 0.2px solid #ddd;
    width: 1%; 
} */

.container{
    display: grid;
    grid-template-areas: 
    "head"
    "main"
    "foot";
}
/*Section 1 starts here*/
header{
    grid-area: head;
    background-color: black;
    position: sticky;
    top:0;
    z-index: 1;
}
.navbar>.logo-img{
    color:white;
    font-size: 1.8rem;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

}
.navbar-list{
    list-style-type: none;
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
    align-items: center;

}

.navbar-list li a{
    text-decoration: none;
}

.navbar-list li{
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    padding: 5px;
    letter-spacing: 0.8px;
}
.navbar-list li a{
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    padding: 5px;
    letter-spacing: 0.8px;
    transition: color 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.navbar-list li a:hover{
    color:royalblue;
}
.navbar-list li button{
    font-size: 1.2rem;
    color:black;
    padding: 8px;
    border-radius: 4px;
    border:none;
    box-shadow: 2px 4px 10px black;
    transition: background-color, color 0.4s ease;
}
.navbar-list li button:hover{
    cursor: pointer;
    background-color:#333;
    color:white;
}

.main-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    position:relative;
}
.section-container{
    height:100vh;
}

.section-1,.section-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap:20px;  
}
.section-1{
    background: linear-gradient(45deg,
    hsl(239deg 92% 60%) 0%,
    hsl(241deg 66% 51%) 4%,
    hsl(242deg 66% 42%) 9%,
    hsl(243deg 70% 34%) 17%,
    hsl(244deg 77% 26%) 25%,
    hsl(244deg 87% 18%) 36%,
    hsl(230deg 100% 15%) 48%,
    hsl(227deg 100% 12%) 61%,
    hsl(226deg 100% 8%) 75%,
    hsl(225deg 100% 5%) 89%,
    hsl(220deg 100% 1%) 100%);
    color:white;
}

.content.header.para{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:40px;
    line-height: normal;
}

.section-container div>h1{
    font-size: 3rem;
    max-width: 30ch;
}
.section-container .para-1{
    font-size: 1.5rem;
    max-width: 50ch;
}
.btn-section-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
}

.btn-section-1 button{
    font-size: 1.5rem;
    padding: 12px 15px;
    border-radius: 10px;
    border:none;
    box-shadow: 0.5px 0.5px 5px #333;
}
.btn-section-1 button:hover{
    cursor: pointer;
}
.btn-section-1 .viewdemo{
    background-color: royalblue;
    color: #eee;
}
.btn-section-1 .documentation{
    background-color: white;
    color: #333;
}


/*section 2 starts here */
.section-container.section-2{
    display:flex;
    flex-direction: column;
    margin-top:200px;
    
}

.img-section-2-container{
    width:100%;
    position: absolute;
    top: 500px;
}
.img-section-2-container .img-replacer{
    max-width: 550px;
    height: 300px;
    background-color: #333;
    text-align: center;
    margin: 0 auto;
}

.section-2-tags-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width:100%;
    margin-top: auto;
      
}

.tag{
    width: 120px;
    height: 120px;
    background-color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 0.1px 0.2px 5px #333;
}
.tag .para-tag{
    font-size: medium;
    text-align: center;
    margin:0 auto;
    line-height: 1.2rem;
}

.section-2 h2{
    font-size: 2.5rem;
    color:black;
    margin-top:30px;
}

.section-2 .section-2-demo-grid{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 20px;
}

.section-2 .demo{
    display: flex;
    flex-direction: column;
    gap:20px;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    margin-top: 30px;
    background-color: #ddd;
    border-radius: 10px;
}

.demo-heading2{
    color:rgb(101, 211, 119);
    margin-top:10px;
}
.demo-heading1{
    color:#42cccc;
    margin-top: 10px;
}

/* .demo img{
    max-width: 100%;
} */
.demo .sub-img{
    width: 100%;
    height:auto;
    padding: 90px;

}

.demo .action-btn-section-2 button{
    padding: 7px 15px;
    font-size: 1.1rem;
    border-radius: 4px;
    border: none;
    background-color: #333;
    color: #eee;
    margin-bottom: 40px;
    transition: box-shadow 0.2s ease-in;
}
.demo .action-btn-section-2 button:hover{
    cursor: pointer;
    color: white;
    box-shadow: 0.1px 0.1px 3px #333;
}

/*Section 3 starts here*/

.swiper {
  width: 100%;
  height: 300px;
}
.swiper-button-prev,.swiper-button-next{
    background-color:rgba(0, 0, 0, 0.747);
    padding: 30px;
    border-radius: 50%;
}

.section-container.section-3{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 30px;
    margin-top: 200px;
    gap: 50px;
}
.container-3-grp.one{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:30px;
}
.container-3-grp.one h3{
    color: black;
    font-size: 2.5rem;
}
.container-3-grp.one p{
    width: 48ch;
    text-align:center;
    color:#555;
    font-size: 1.3rem;
    line-height: 1.6rem;
}

.container-3-grp.three{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}
.container-grp3{
    display:flex;
    flex-direction: column;
    justify-content: center;
    border:none;
    text-align: center;
    gap: 20px;
    align-items: center;
}
.container-grp3 img{
    width:80%;
    border-radius: 10px;
    box-shadow: 0.1px 0.1px 4px #555;
}

/* Section 4 starts here*/

.section-container.section-4{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
}
.section-4-grp{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    margin-top: 100px;
}
.section-4-grp h3{
    font-size: 2.5rem;
    margin-top: 180px;
}
.section-4-grp p{
    font-size: 1.3rem;
    color: #555;
    text-align: center;  
    max-width: 70%;
    line-height: 1.6rem; 
}
.section-4-grid-grp{
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(4,auto);
    row-gap: 10px;
    column-gap: 10px;
    margin: 10px;
}
.section-4-grid-grp .grid-grp{
    padding: 20px;
    display: grid;
    border-radius: 10px;
    border:none;
    box-shadow: 0.1px 0.1px 2.5px #333;
    grid-template-areas: 
    "img head"
    "img para";
    }
.img-grid-4{
    grid-area: img;
}
h4{
    grid-area: head;
}
p{
    grid-area: para;
}

.grid-grp.one,.grid-grp.five,.grid-grp.nine{
    background-color: #ddd;
}
.grid-grp.two,.grid-grp.six,.grid-grp.eight{
    background-color: rgba(71, 66, 71, 0.836);
    color: white;
}
.grid-grp.three,.grid-grp.seven,.grid-grp.eleven{
    background-color: rgb(191, 191, 252);
}




