* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    text-align: center;
}

hr {
    width: 90%;
    margin: 0 auto;
    border: 1px solid #ddd;
}
/*
.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    color: white;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
}
.navbar-links {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.navbar .brand-title {
    font-size: 1.5rem;
    margin: 0.5rem;
}


.navbar .navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
    justify-content: flex-end;

}

.navbar-links li a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
    text-transform: uppercase;
}

.navbar-links li:hover {
    background-color: #555;
}

.navbar button {
    text-transform: capitalize;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    margin-right: 0.5rem;
    border: 1px solid white;
    border-radius: 0.25rem;
    color: white;
    background-color: #333;
    font-weight: 700;
    box-shadow: 0.5px 0.5px #aaa;
    cursor: pointer;

}

.buy-button {
    order: 2;
}

.navbar button:hover {
    cursor: pointer;
    background: white;
    color: #333;
    transition: background 200ms ease-in;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;

}



@media (max-width: 870px) {

    .toggle-button {
        display: flex;
        align-items: center;
        margin-top: 1rem;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .brand-title {
        margin-left: -0.5rem;
    }

    .toggle-button .bar {
        margin-left: 0.5rem;
    }

    .navbar-links.active {
        display: flex;
    }

    .buy-button {
        order: 0;
        margin-left: 10rem;

    }

}

@media (max-width: 500px) {
    .navbar {
        display: flex;
    }

    .toggle-button {
        display: flex;
        align-items: center;
        margin-top: 1rem;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .brand-title {
        margin-left: -0.5rem;
    }

    .toggle-button .bar {
        margin-left: 0.5rem;
    }

    .buy-button {
        order: 0;
        flex-wrap: wrap;

    }

}
*/
/*html{
    scroll-behavior: smooth;
    color: white;
}

body>div.background-img{
    background-image: linear-gradient(
  45deg,
  hsl(0deg 0% 1%) 0%,
  hsl(344deg 0% 3%) 8%,
  hsl(344deg 0% 4%) 17%,
  hsl(0deg 0% 6%) 25%,
  hsl(0deg 1% 8%) 33%,
  hsl(0deg 1% 10%) 42%,
  hsl(0deg 2% 12%) 50%,
  hsl(0deg 1% 19%) 58%,
  hsl(0deg 0% 27%) 67%,
  hsl(0deg 0% 34%) 75%,
  hsl(344deg 0% 40%) 83%,
  hsl(344deg 0% 45%) 92%,
  hsl(0deg 0% 51%) 100%
);
}

.navbar{
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1;
    font-size: 1.2rem;
    opacity: 1;
}
.container-navbar.left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 2rem;
    font-size: 1.5rem;
}

.container-navbar.left .brand-title{
    align-self: center;
}

.container-navbar.right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 1rem;
    flex: 1;    
}
.buy-button{
    order: 1; 
}
.buy-button button{
    padding: 12px 24px;
    border-radius: 7px;
    background-color: rgba(0,0,0,0.0);
}
.buy-button button:hover{
    background-color: #333;
    color:white;
    cursor: pointer;
    transition: 200ms ease-in-out;
}

.navbar-links ul{
    display: flex;
    justify-content: space-between;
    list-style-type:none ;
    align-items: center;
    margin:1rem;
    z-index: 1;
}
.navbar-links ul li a{
    text-decoration: none;
    text-transform: uppercase;
    padding: 1rem;
    color: white;
}

.navbar-links ul li a:hover{
    text-shadow: 0.15px 0.25px #fff;
}

.container-section {
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    width: 100%;

}
section:nth-of-type(even){
    background-color: red;
}


.main-container.section-one.div-section {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    height: 100vh;
    justify-content:space-around;
}
.section-one{
  color: white;
}

.section-one header{
    font-size: 1rem;
    margin-top: 30rem;
}
.section-one header h1{
    font-size: 2.5rem;
    font-weight: bolder;
}
.section-one header h4{
    margin-top: 2rem;
}
.button-header{
    display:flex;
    justify-content: center;
    gap: 2rem;
}
.button-header button:hover{
    cursor: pointer;
}
.button-header button{
    padding: 0.7rem 1.4rem;
    margin-top: 3rem;
    font-size: 1.5rem;
    color: white;
    border-radius: 14px;
    border:none;
    background-color: white;
    font-weight: 600; 
}
.button-header button.viewDemo{
    background-color: royalblue;
}
.button-header button.documentation{
    color: #333;
}

.main-container.section-one.div-section article img {
    width: 70%;
    height:100%;
}
*/